$icon-font-path: '~bootstrap-sass/assets/fonts/bootstrap/';
@import '~bootstrap-sass/assets/stylesheets/bootstrap';

$background-color: #4e4e4e;
$font-color: #73AD21;
$white: #fff;

body {
  background-color: $background-color;
  color: $font-color;
}
header {
  color: #73AD21;
}
.horizontalrule {
  background-color: $background-color;
  border: 1px solid $white;
  // float: left;
}
.speechbubble {
  position:relative;
  padding:15px;
  margin:1em 0 3em;
  border:5px solid #73AD21;
  color:#333;
  background:#fff;
  -webkit-border-radius:10px;
  -moz-border-radius:10px;
  border-radius:10px;
  margin-right:30px;
  float: right;
  // clear: left;
  width: 300px;
  height: 200px;
}
.speech {
  font-size: 16px;
}
.cooper {
  float: right;
  width: 300px;
  border: 3px solid #73AD21;
  padding: 10px;
}
.authforms {
  clear: both;
}
.errormsg {
  clear: both;
}
.gameboard {
  clear: both;
}
.box {
  border: 1px solid $white;
}

.tile {
  color: $font-color;
  font-size: 75px;
  height: 100px;
  text-align: center;
}

.rules {
  font-size: 40px;
  height: 600px;
  text-align: center;
}

#change-password {
  display: none;
}
.signout-button {
  display: none;
}
#changepwbutton {
  display: none;
}
form {
  margin-bottom: 20px;
}
legend {
  background-color: $background-color;
  color: $font-color;
}
.button {
  background-color: $font-color;
  color: $background-color;
}
#changepwbutton {
  background-color: $font-color;
  color: $background-color;
}
#changepwbutton {
  background-color: $font-color;
  color: $background-color;
}
.signout-button {
  background-color: $font-color;
  color: $background-color;
}
.startgame {
  background-color: $font-color;
  color: $background-color;
  display: none;
}
.xwin {
  display: none;
}
.owin {
  display: none;
}
.tie {
  display: none;
}
.restart {
  background-color: $font-color;
  color: $background-color;
}
.gamesplayed {
  font-size: 20px;
}
.userstats {
  display: none;
}
.statstitle {
  margin-top: 30px;
}
input, select, textarea {
    color: black;
}
