$icon-font-path: '~bootstrap-sass/assets/fonts/bootstrap/';
@import '~bootstrap-sass/assets/stylesheets/bootstrap';

$background-color: #4e4e4e;
$font-color: #dfdfdf;
$white: #fff;

body {
  background-color: $background-color;
  color: $font-color;
}

.box {
  border: 1px solid $white;
}

.tic {
  font-size: 75px;
  height: 100px;
  text-align: center;
}

.rules {
  font-size: 40px;
  height: 600px;
  text-align: center;
}

#change-password {
  display: none;
}
.signout-button {
  display: none;
}
#changepwbutton {
  display: none;
}
form {
  margin-bottom: 20px;
}
legend {
  background-color: $background-color;
  color: $font-color;
}
.button {
  background-color: $font-color;
  color: $background-color;
}
#changepwbutton {
  background-color: $font-color;
  color: $background-color;
}
#changepwbutton {
  background-color: $font-color;
  color: $background-color;
}
.signout-button {
  background-color: $font-color;
  color: $background-color;
}
.startgame {
  background-color: $font-color;
  color: $background-color;
}
